<ion-header>
  <ion-toolbar>
    <ion-title>mangopay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="createUser()" expand="block" fill="clear" shape="round">
    Create User
  </ion-button>
  <ion-button (click)="createWallet()" expand="block" fill="clear" shape="round">
    Create Walllet
  </ion-button>
  <ion-button (click)="cardRegistration()" expand="block" fill="clear" shape="round">
    Card Registration
  </ion-button>
  <ion-button (click)="saveCard()" expand="block" fill="clear" shape="round">
    SaveCard
  </ion-button>
  <ion-button (click)="putCardData()" expand="block" fill="clear" shape="round">
    PutCardData
  </ion-button>
  <ion-button (click)="createPayIn()" expand="block" fill="clear" shape="round">
    CreatePayIn
  </ion-button>
  <ion-button (click)="createDirectPayIn()" expand="block" fill="clear" shape="round">
    CreateDirectPayIn
  </ion-button>

</ion-content>
