<ion-header>
  <ion-toolbar class="ion-text-center">
    <img src="../../assets/logoaurore.png" style="max-height:50px;">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row  class="ion-text-center">
      <ion-col size="12"><h2>Vous avez besoin d'aide ?</h2></ion-col>
      <ion-col size="12"><h2>Contactez nos conseiller en Live Chat</h2></ion-col>
      <ion-col size="12">
          <ion-button (click)="startChat()" expand="block">
            Live Chat
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
 