<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165847455608-92jj1t2dqfbqfu5433ktr1pvga20nrii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165847455608-92jj1t2dqfbqfu5433ktr1pvga20nrii</string>
	<key>API_KEY</key>
	<string>AIzaSyCjjvx1VnzB55S-AqnZiJRGRTIbvYgJZnU</string>
	<key>GCM_SENDER_ID</key>
	<string>165847455608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.aurore.ayrton</string>
	<key>PROJECT_ID</key>
	<string>ineed-2241f</string>
	<key>STORAGE_BUCKET</key>
	<string>ineed-2241f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165847455608:ios:b4d18b125adf2ff858da8d</string>
	<key>DATABASE_URL</key>
	<string>https://ineed-2241f.firebaseio.com</string>
</dict>
</plist>