<ion-header>
  <ion-toolbar>
    <ion-title>Mot de passe oublié</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 

    <ion-text *ngIf="isSend" color="success">
      Un email vient d'etre envoyé
    </ion-text>
    <ion-text *ngIf="isError" color="danger">
      Une erreur s'est produite, soit l'adresse mail n'existe pas, soit elle est mal saisie.
    </ion-text>

    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="resetPass(email)" expand="block">Reinitialiser le mot de passe</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
