.small-text {
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}

.dark {
  background-image:url('../../assets/background-home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.auth-form ion-grid,
.auth-form ion-row {
    height: 100%;
    justify-content: center;
}


.logo-block {
  padding:3em;
  text-align:center;
}

.logo {
  max-width:70%;
}