<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>sos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="12">
      <h3>Vous rencontrez un soucis avec une livraison ?</h3>
    </ion-col>
    <ion-col size="12">
      <ion-button (click)="onClick()" expand="block" color="primary">
         J'ai un probleme avec une livraison
      </ion-button>
    </ion-col>
    <ion-col size="12">
      <h3>Vous rencontrez un soucis avec un livreur ?</h3>
    </ion-col>
    <ion-col size="12">
      <ion-button (click)="onClick()" expand="block" color="primary">
         J'ai un probleme avec un livreur
      </ion-button>
    </ion-col>
    <ion-col size="12">
      <h3>Vous rencontrez un soucis avec un produit ?</h3>
    </ion-col>
    <ion-col size="12">
      <ion-button (click)="onClick()" expand="block" color="primary">
         J'ai un probleme avec un produit
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
