

<ion-content class="auth-form">
  
  <ion-grid class="dark">
    <ion-row >
      
      <ion-col size="12" class="logo-block">
        <img class="logo" src="../assets/logoaurore.png" />
      </ion-col>
      
        <ion-col color="white">
          <ion-button [routerLink]="['/registration']" expand="block" color="primary">S'enregistrer</ion-button>
          <span class="divider line one-line">ou</span>
          <span class="already">Vous avez déjà un compte ?</span>
          <ion-button [routerLink]="['/login']" expand="block" color="danger">Se connecter</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>