ion-footer ion-item {
    --ion-background-color: #048b9a !important;
    --ion-text-color: white;
  }
  .shop-info {
    font-size:0.7em;
    color:grey;
}

.items-card {
    width: 100%;
}

.card-content {
    padding: 0px;
}

.button-add-cart {
    height: 100%;
    margin: 0px;
}
